@import "tailwindcss";
:root {
  --white: #ffffff;
  --primary: #22577a;
  --secondary: #57CC99;
  --lightgreen: #80ED99;
  --teal: #C7F9CC;
  --font-size: 1.5rem;
  --urbanist: "Urbanist", sans-serif;
  --asset: "Asset", serif;
  --chonburi: "Chonburi", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: "Montserrat Alternates", sans-serif;
}
.container-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    background-color: var(--teal);
    margin: 0;
    padding: 100px;
    color: var(--primary);
}

.container h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
}

.header {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  background-color: var(--white);
  padding: 10px;
}
.logo {
  display: flex;
  align-items: flex-starts;
}
.logo img {
  height: 200px;
  margin-right: 10px;
  max-width: 100%;
}
.title {
  color: #22577a;
  font-size: 64px;
  font-weight: 300;
}
.nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  padding-left: 20%;
  margin-bottom: 30px;
}

.nav .button{
    margin-bottom: -10px;
}

.button{
    background-color: var(--primary);
    border-radius: 20px;
    padding: 15px;
}

.button p{
    color: white;
    padding: 0;
    margin: 0;
}

.button:hover{
    background-color: var(--secondary);
}

.nav a {
  color: #22577a;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
  transition: color 0.3s;
}
.nav a:hover {
  color: #80ed99;
}

.footer {
  background-color: var(--white);
  display: flex;
}

.footer-logo {
  height: 200px;
  border-radius: 35px;
}

.main {
  margin: 50px;
  border-radius: 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
